body {
    color: rgb(225,225,225);
    font-size: 2em;
    background-color:rgb(20, 20, 20);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
  
}

header{
  background-color: rgb(0,0,0)	;
  text-align: center;
  vertical-align:middle;
  padding:5px;
  height:10vh;
}


.center_div{
  padding: 10%;
  margin: 0 auto;
  width:50%;
}

th{
	background-color: rgba(31, 32, 32, 0.521);
	color: rgb(198, 204, 200);
	}
	
th, td {
  padding: 5px;
  text-align: center;
}

td{
	background-color: #000000;
}	

nav{
  margin:0px;
  padding: 10px;
}


.nav-link{
    font-size: 24px;
    
}

button{
  width: 170px;
  height: 70px;
}

#dodaj{
  border: none;
  background-color: #299165;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#wyswietl{
  border: none;
  background-color: #581aaa;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



#wypozycz{
    border: none;
    background-color: #1a99aa;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#wypozyczenia{
  border: none;
  background-color: #355E3B;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#dane{
  border: none;
  background-color: #677598;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#usun{
  border: none;
  background-color: #5E353B;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 250px;
    height: auto;
        -webkit-border-radius:15%;		
    -moz-border-radius:15%;
    border-radius:15%;
    -webkit-box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
    -moz-box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
    box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-230%, -250%);
    -ms-transform: translate(-550%, -50%);
    background-color: rgb(66, 66, 66);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius:15%;		
    -moz-border-radius:15%;
    border-radius:15%;
    -webkit-box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
    -moz-box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
    box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
  }
  
  .container .btn:hover {
    background-color: black;
  }